*{box-sizing: border-box;}
body, html{width: 100%; height: 100%;}
/*body{margin:0; padding:0; background: #ffcf27; font-family:sans-serif;}*/
legend, label, input, ul, li{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{ text-decoration: none;}
aside .row { 
  width: 100%;
  padding: 0px 40px 0px 60px;
   }
.input-toggler{ display: none;}
.menu-toggler{position: absolute;  top: 35px; left: 60px; width:50px; height: 50px;  z-index: 100; display: flex; justify-content:center; align-items:center; flex-direction:column; cursor: pointer;

}
.nav-login{
        position: absolute;
    right: 75px;
    top: 44px;
        font-size: 16px;
        color: #0B0B0B;
        text-decoration: none !important;
}
.nav-login svg{
  /*display: block;*/
  margin-right: 10px;
  /*margin-top: 12px;*/
}
.nav-login svg path{
  fill: #000;
}

.menu-toggler-line{width: 60%;border-radius: 2px; height:4px; background:#BD9234; margin: 0 0 7px 0px; position: relative; transition: all .40s ease-out;}

.input-toggler:checked ~ .menu-toggler .menu-toggler-line {top: 8px; translateY:100px; background:#ffffff; transform:rotate(45deg);
}

    .input-toggler:checked ~ .menu-toggler {
background-color: #b22c2d;
    border-radius: 30px;}
.menu-toggler-line:nth-child(2) {
  width: 40%;
    height: 3.5px;
    background: #BD9234;
    margin: 0 10px 7px 0px;
    position: relative;
    transition: all .40s ease-out;
    border-radius: 2px;
}
.input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(2) {display: none;}

.input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(3) {top: -3px; translateY:10; transform:rotate(135deg);}

.nav{ width: 100%; height: 100%; background:rgba(0,0,0, 0.8);}
.nav ul{ width: 100%;}
.nav ul li{ width: 100%; text-align: center;}
.nav ul li a{display: inline-block; font-size: 15px; color: #fff; text-transform: uppercase;}
.menu-txt {
  position: absolute;
    left: 115px;
    top: 43px;
    text-transform: uppercase;
}
.menu-txt span{
  color: #BD9234 !important;
}
.sidebar {
  position: fixed; inset: 0; height: 100vh; width: 100%; background:#ffffff; opacity: 0.5;

display: flex;
justify-content: center;
align-items: center;

transform: translateX(-100%);

transition: all .40s ease-out;
background-image: url("../images/menu/menu-abstract.png");
background-size: cover;
background-repeat: no-repeat;
}

.menu-link {color: white; font-size: 15px; line-height: 30px; -webkit-transition: all .25s ease-out; transition: all .25s ease-out;}
.menu-link:hover, .menu-link:focus, .menu-link:active {color: #BD9234;}

.menu{
  text-align: left;
}
.menu-image{
    width: 460px;
    top: 0px;
    height: 423px;
    border-radius: 0px 60px 0px 0px;
}
.menufirst {
    border-top: 0.5px solid #BD9234;
    padding-top: 15px !important;
  }
.menu-line{
  display: flex;
    justify-content: center;
    width: 300px;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 0.5px solid #BD9234;
    color: #000;
}
.input-toggler:checked ~ .sidebar {transform: translateX(0%); opacity: .98;}

.menu-left-top{
  margin-top: 50px;
}
.menu-right-top{
  margin-top: 70px;
}
.dropDownMenu ul {
  display:flex;
  flex-wrap: wrap;
  text-align: left;
  /*text-transform: lowercase;*/
}
.dropDownMenu ul li {
   flex: 0 0 50%;
   max-width: 50%;
   position: relative;
    width: 100%;
    /*min-height: 1px;*/
        line-height: 15px;
}


.dropDownMenu{
  padding: 20px 0px 20px 0px;
  white-space: nowrap;
}
.menu-btn{
      background-color: #BD9234;
    color: white;
    padding: 1px 30px;
    outline: none;
    border: none;
    /*box-shadow: 3px 3px 15px #00000042;*/
    border-radius: 22px;
    width: 100%;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
}


.slider {
  padding: 32px;
  color: #fff;
}
.slider .swiper-container {
  width: 100%;
  height: 100%;
}
.slider__flex {
  display: flex;
  align-items: flex-start;
}
.slider__col {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 32px;
}
.slider__prev,
.slider__next {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider__prev:focus,
.slider__next:focus {
  outline: none;
}
.slider__thumbs {
  height: calc(400px - 96px);
}
.slider__thumbs .slider__image {
  transition: 0.25s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.slider__thumbs .slider__image:hover {
  opacity: 1;
}
.slider__thumbs .swiper-slide-thumb-active .slider__image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}
.slider__images {
  height: 400px;
}
.slider__images .slider__image img {
  transition: 3s;
}
.slider__images .slider__image:hover img {
  transform: scale(1.1);
}
.slider__image {
  width: 80%;
  height: 100%;
  border-radius: 0px 60px 0px 0px;
  overflow: hidden;
}
.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .slider__flex {
    flex-direction: column-reverse;
  }
  .slider__col {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-top: 24px;
    width: 100%;
  }
  .slider__images {
    width: 100%;
  }
  .slider__thumbs {
    height: 100px;
    width: calc(100% - 96px);
    margin: 0 16px;
  }
  .slider__prev,
  .slider__next {
    height: auto;
    width: 32px;
  }
  .nav-login svg{
    display: block;
  }
  .nav-login span{
    display: none;
  }
}
@media (min-width: 270px) and (max-width: 700px) {
    .timeline_sec .swiper-title {
  top: 25px;
}
.timeline_sec .swiper-pagination-fraction {
 top: 25px;
}
    .appoinment_sec{
        text-align: center;
    }
    .copy_rights_mobile{
  display: block;
}
.copy_rights{
  display: none;
}
.footer_sec hr {
  margin: 0px 0px 15px 0px;
  border-color: white;
}
    .highlights_sec {
  padding: 50px 0px 30px 0px;
}
    .testimonials_sec .swiper-button-next {
     left: auto; 
    right: 45px;
}
.testimonials_sec .swiper-button-prev {
  left: 45px !important;
}
.testimonials_sec .swiper-title {
  left: 90px;
}
.testimonials_sec .swiper-title {
  position: absolute;
  /*left: 345px;*/
  top: 93%;
}
    .appoinment_sec h3 {
  font-size: 20px;
  line-height: 40px;
}
.book_now {
  margin-top: 29px;
  text-align: center !important;
  align-items: center;
  position: static;
  display: block;
}
    .project_details_sec img{
        display: none;
    }
    .about_sec {
  padding: 0px 0px 50px 0px;
}
    .navbar ul li {
  padding: 0px;
  list-style-type: disc !important;
}
.about_pk_sec .swiper {
  padding: 70px 0px 0px 0px;
}
    .highlights_sec .highlights_box {
  background-color: #ffffff;
  padding: 0;
}
.nav-login svg{
  margin-right: 20px;
  margin-top: 12px;
}
.before-line{
    margin-left: 20px;
}
.highlights_box h2{
    margin-left: 20px;
}
    .com-img{
        display: none;
    }
    .menu-left-top {
  margin-top: 0px;
}
.contact_sec .contact_img img{
    width: 100%;
}
.bg_boxes{
    display: none;
}
.title_sec h2{
    font-size: 37px;
}
.footer_sec{
    padding: 50px 0px 40px 0px;
    background: none !important;
    background-color: #1e1e1e !important;
}
.inner_banner_sec .banner_cnt p{
    text-align: center !important;
}
.inner_banner_sec{
    text-align: center !important;
}
.banner_cnt{
  flex-direction: column !important;
  align-items: center;
}
.shrt_details_box{
    padding-left:50px ;
}
.title_sec h3{
    font-size: 37px;
}
.timeline_data_box h5 {
  font-size: 18px;
  color: #3B3B3B;
  font-weight: normal;
  line-height: 30px;
}
    .comp-toggle .container{
        height: auto; 
    /*overflow: scroll;*/
    }
    .comp {
    /*padding: 0px 50px 50px 50px;*/
     padding: 0px 5px 50px 5px;
}
.completed_properties_sec .title h2 {
    font-size: 37px;
    font-family: 'poppingsSemiBold';
    letter-spacing: 0.2px;
    line-height: 52px;
    font-weight: 600;
}
.completed_sec .title h2 {
    font-size: 37px;
    }
    .testimonials_sec h2{
          font-size: 37px;
    }
    .blog_sec h2 {
     font-size: 37px;
     margin-bottom: 0px;
}
.blog_sec {
    padding: 50px 0px 20px 0px;
}
.about_sec .our_lines .counts p {
  text-align: center;
}
.who_we_are{
display: none;
}
.contact_details_sec .contact_list p{
    word-break: break-all;
}
.banner_sec h1 {
  font-size: 40px;
}
.testimonials_sec .swiper {
    padding: 60px 0px 80px 0px;
}
.appoinment_sec h3 span {
  font-size: 30px;
}
.appoinment_sec h3 {
  font-size: 20px;
}
.banner_sec {
  height: auto;
  padding: 50px 0px;
  position: relative;
}
.banner_sec::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(59 69 75 / 70%);
    z-index: 0;
}
.banner_sec #banner_bg_video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.nav-login {
    position: absolute;
    right: 10px;
    top: 32px;
    font-size: 1rem;
    color: #0B0B0B;
}
.nearest_places_sec_mobile{
  display: block;
}
.nearby-heading {
    font-family: 'poppingsSemiBold';
    color: #0B0B0B;
    /* position: absolute; */
    padding: 30px 0px 10px 0px;
    /* z-index: 100; */
    /* left: 45%; */
    text-align: center;
    font-size: 28px;
}
.menu-txt {
    display: none;
  }
  /* .nearest_places_sec_mobile .place01 {
    position: absolute;
    top: 121px;
    left: calc(50% - 48%);
}
.nearest_places_sec_mobile .place01 img {
  display: none;
    width: 70%;
    position: absolute;
    top: 0px;
    right: calc(50% - -46%);
}
.nearest_places_sec_mobile .place02 {
   position: absolute;
    top: 222px;
    right: calc(50% - 40%);
}
.nearest_places_sec_mobile .place02 p.dots {
    color: #BD9234;
    position: absolute;
    left: -25px;
}

.nearest_places_sec_mobile .place02 img {
    display: none;
    width: 80%;
    position: absolute;
    top: -85px;
    left: 49px;
}
.nearest_places_sec_mobile .place03 {
    position: absolute;
    top: 320px;
    right: 80px;
}
.nearest_places_sec_mobile .place03 p.dots {
    color: #BD9234;
    position: absolute;
    left: -24px;
}
.nearest_places_sec_mobile .place03 img {
    display: none;
    width: 100%;
    position: absolute;
    top: -52px;
    left: 65px;
}

.nearest_places_sec_mobile .place05 {
  display: none;
    position: absolute;
    top: 639px;
    left: 107px;
}
.nearest_places_sec_mobile .place05 p.dots {
    color: #BD9234;
    position: absolute;
    left: -19px;
}
.nearest_places_sec_mobile .place05 img {
    display: none;
    width: 70%;
    position: absolute;
    top: -116px;
    left: 71px;
}
.nearest_places_sec_mobile .place04 {
    position: absolute;
    top: 489px;
    left: 189px;
}
.nearest_places_sec_mobile .place04 p.dots {
    color: #BD9234;
    position: absolute;
    left: -23px;
}
.nearest_places_sec_mobile .place04 img {
    display: none;
    width: 100%;
    position: absolute;
    top: -50px;
    left: 79px;
}*/
.nearest_places_sec{
    display: none;
}

}
@media (min-width: 270px) and (max-width: 820px) {
  .dropDownMenu ul li {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
}

.testimonials_sec .swiper-pagination-fraction {
    left: 20%;
}
/*.menu-left-top {
    margin-top: 100px;
}*/
.menu-btn {
    background-color: #BD9234;
    color: white;
    padding: 1px 28px;
    outline: none;
    border: none;
    /* box-shadow: 3px 3px 15px #00000042; */
    border-radius: 22px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.menufirst {
    border-top: 0.5px solid #BD9234;
     padding-top: 1px !important; 
}
.menu-line {
    display: flex;
    justify-content: center;
    width: 300px;
    font-size: 16px;
     padding-top: 1px; 
     padding-bottom: 1px; 
    text-transform: uppercase;
    border-bottom: 0.5px solid #BD9234;
    color: #000;
}
.dropDownMenu {
    padding: 10px 0px 10px 0px;
    white-space: unset;
}
.menu-right-top {
     margin-top: 0px; 
}
.mobslide{
  display: none;
}
.menulogo{
  display: none;
}
aside .row {
    width: 100%;
    padding: 0px 10px 0px 6px;
}
.navbar ul li {
    padding: 0px;
    list-style-type: none;
}
.menu-link {
    font-size: 14px;
    line-height: 25px;
}
.menu-toggler{
  left: 0px;
  }
  .inner_banner_sec img.down_arrow {
    width: 38px;
    position: absolute;
    bottom: -26px;
    opacity: 0.8;
    /*right: 174px;*/
    /* text-align: center; */
}

}
@media (min-width: 700px) and (max-width: 820px) {
    .menu-left-top {
  margin-top: 100px;
}
.testimonials_sec .swiper-button-next {
     left: auto; 
    right: 155px;
}
.ongoing_properties_sec .swiper-pagination-fraction {
    left: 0%;
}
.appoinment_sec h3 {
    color: #BD9234;
    font-size: 32px;
    margin-bottom: -10px;
}
.appoinment_sec h3 span {
    color: black;
    font-size: 40px;
    font-family: poppingsSemiBold;
}
.contact_details_sec .contact_list p {
    word-break: break-all;
}
.ongoing_properties_sec .swiper-button-next {
    left: 275px;
    right: auto;
}
.book_now {
    margin-top: 30px;
    }
.com-img{
        display: none;
    }
.banner_sec #banner_bg_video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}
.banner_sec::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    background-color: rgb(59 69 75 / 70%);
    z-index: 0;
}
}
@media (min-width: 820px) and (max-width: 1024px) {
  .dropDownMenu ul li {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
}
.menu-left-top {
    margin-top: 0px;
}
.menu-btn {
    background-color: #BD9234;
    color: white;
    padding: 1px 28px;
    outline: none;
    border: none;
    /* box-shadow: 3px 3px 15px #00000042; */
    border-radius: 22px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.menufirst {
    border-top: 0.5px solid #BD9234;
     padding-top: 1px !important; 
}
.menu-line {
    display: flex;
    justify-content: center;
    width: 300px;
    font-size: 16px;
     padding-top: 5px; 
     padding-bottom: 5px; 
    text-transform: uppercase;
    border-bottom: 0.5px solid #BD9234;
    color: #000;
}
.dropDownMenu {
    padding: 10px 0px 10px 0px;
    white-space: unset;
}
.menu-right-top {
     margin-top: 0px; 
}
.mobslide{
  display: none;
}

aside .row {
    width: 100%;
    padding: 0px 40px 0px 60px;
}
.navbar ul li {
    padding: 5px;
    list-style-type: none;
}
.menu-link {
    font-size: 17px;
    line-height: 28px;
}
.menu-toggler{
  left: 0px;
  }
  .inner_banner_sec img.down_arrow {
    width: 38px;
    position: absolute;
    bottom: -34px;
    opacity: 0.8;
    right: 340px;
}
}
@media (min-width: 700px) and (max-width: 1025px) {
  .menulogo{
  display: block !important;
}
.nearest_places_sec .nearby_place p {
    color: #BD9234;
    font-size: 10px;
}
.nearest_places_sec .nearby_place p span {
    color: #BD9234;
    font-size: 20px;
}
.nearest_places_sec .nearby_place span {
    color: #B22C2D;
    font-size: 25px;
    font-weight: 600;
}
.inner_banner_sec img.down_arrow {
    width: 38px;
    position: absolute;
    bottom: -34px;
    opacity: 0.8;
    right: 340px;
}
.menu-txt {
    position: absolute;
    left: 60px;
    top: 43px;
    text-transform: uppercase;
}
.menu-left-top{
  margin-top: 0px !important;
  }
  .gallery-heading {
    font-family: 'poppingsSemiBold';
    color: #0B0B0B;
    position: absolute;
    top: 95px;
    z-index: 100;
    left: 45%;
    font-size: 30px;
}
 .nearest_places_sec .place01 {
    position: absolute;
    top: 70px;
    left: calc(50% - 36%);
}
.nearest_places_sec .place01 img {
    width: 80px;
    position: absolute;
    top: 0px;
    right: calc(50% - -46%);
}
.nearest_places_sec .place02 {
   position: absolute;
    top: 80px;
    right: calc(50% - 40%);
}
.nearest_places_sec .place02 p.dots {
    color: #BD9234;
    position: absolute;
    left: -25px;
}

.nearest_places_sec .place02 img {
    width: 80px;
    position: absolute;
    top: -85px;
    left: 49px;
}
.nearest_places_sec .place03 {
    position: absolute;
    top: 240px;
    right: 80px;
}
.nearest_places_sec .place03 p.dots {
    color: #BD9234;
    position: absolute;
    left: -24px;
}
.nearest_places_sec .place03 img {
    width: 80px;
    position: absolute;
    top: -52px;
    left: 65px;
}

.nearest_places_sec .place05 {
    position: absolute;
    top: 300px;
    left: 400px;
}
.nearest_places_sec .place05 p.dots {
    color: #BD9234;
    position: absolute;
    left: -19px;
}
.nearest_places_sec .place05 img {
    width: 80px;
    position: absolute;
    top: -50px;
    left: 71px;
}
.nearest_places_sec .place04 {
    position: absolute;
    top: 230px;
    left: 189px;
}
.nearest_places_sec .place04 p.dots {
    color: #BD9234;
    position: absolute;
    left: -23px;
}
.nearest_places_sec .place04 img {
    width: 80px;
    position: absolute;
    top: -50px;
    left: 79px;
}
}
@media (min-width: 800px) and (max-width: 990px) {
.contact_form{
    margin-top: 90px;
}
.contact_form .bg_boxes img:first-child {
    top: 43px;
    left: 122px;
}
.contact_form .bg_boxes img:last-child {
    bottom: -57px;
    right: 95px;
}

    }
@media (min-width: 700px) and (max-width: 800px) {

    .contact_form .bg_boxes img:last-child {
    bottom: -57px;
    right: 54px;
}
.contact_form .bg_boxes img:first-child {
    top: 9px;
    left: 82px;
}
}
