.testimonials_sec .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: white;
    transition: all .3s ease;
    
    &.swiper-slide-active {
      color:#fff;
      background: linear-gradient(45deg, rgb(246, 146, 89), rgb(241, 105, 117));
      transform: scale(1.4);
      z-index: 2
    }
  }
  